<div class="aboutText">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque molestias obcaecati placeat maiores mollitia
        animi est accusamus
        reiciendis blanditiis voluptates quae veritatis autem corporis esse labore, provident, earum consequuntur
        adipisci dolor quos
        quibusdam nam. Esse dolor consequatur facilis facere nulla.Eaque temporibus soluta voluptatibus sint illum optio
        doloremque sed
        animi dolore voluptates, blanditiis culpa consequatur odit obcaecati enim. Velit labore illo quam deleniti
        quidem non nobis
        necessitatibus aperiam dicta quas error cum expedita ab vero natus earum, totam veniam nisi incidunt iste libero
        voluptatibus
        delectus fuga. Dolorem minima illum ipsam in nihil ipsa eos ducimus odit beatae nemo, aliquam ipsum.</p>
</div>